@font-face {
    font-family: unaessthetic;
    src: url(/assets/fonts/unaessthetic.ttf);
}

#root {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    background-color: #0E1428;
    width: 100%;
    color: white;
}

#menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-image: url("../showoff/bg.png");
    background-size: cover;
    width: 100%;
    color: white;
    padding-top: 2em
}

#menu h1 {
    font-family: unaessthetic;
    font-size: 10rem;
    margin: 0;
}

#menu > p {
    font-size: 1.25em;
    margin-block: 2em;
}

#menuButtons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    gap: 1em;
}

#menuButtons button {
    padding: 0.5em 1em;
    background-color: #7B9E89;
    font-size: 1.5em;
    border-radius: 0.5em;
    cursor: pointer;
    color: #0E1428
}

#menuButtons p {
    margin: 0 1em;
    font-size: 1.5em;
}

img {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 20%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

