@font-face {
    font-family: unaessthetic;
    src: url(/assets/fonts/unaessthetic.ttf);
}

#root {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 4rem);
    margin: 0;
    background-color: #ECE3CE;
    padding: 2rem 6rem;
    width: 100%;
    color: black;
}

#root > h1 {
    font-family: unaessthetic;
    font-size: 10rem;
    margin: 0;
}

#root > p {
    font-size: 1.25em;
    margin-block: 2em;
}

#root > div {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

#root > div button {
    padding: 0.5em 1em;
    background-color: #739072;
    border: 0.125em solid #3A4D39;
    font-size: 1.5em;
    border-radius: 0.5em;
    color: #ECE3CE;
    cursor: pointer;
}

#root > div p {
    margin: 0 1em;
    font-size: 1.5em;
}

